.body  {
    background: #ECF0F1
}
h1 {
    color: #808080;
    text-align: center;
}
h2 {
    text-decoration: underline;
}
h3,p  {
    margin-left:25px;
}
.second_section p {
    color:red !important;
    font-size: 25px;
}